body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-content .left-section,
.home-content .right-section {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content .left-section {
  background-image: url('./assets/left-image.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.home-content .right-section {
  background-image: url('./assets/right-image.jpeg');
  background-size: cover;
  background-position: center;
}

.home-content .left-section .content,
.home-content .right-section .content {
  text-align: left;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.navbar-logo {
  font-size: 1.5rem;
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li {
  color: white;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #222;
  color: white;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #61dafb;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
